/* Todo
- page transition */

/* Foundations */
body,
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: serenity, sans-serif;
  color: var(--black);
}

.lock {
  overflow: hidden;
}

::-moz-selection {
  background: var(--secondary);
  color: #ffffff;
}

::selection {
  background: var(--secondary);
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--black);
}

/* Variables */
:root {
  --primary: #cf4532;
  --secondary: #47a96f;
  --black: #333333;
  --background: #fcf6ea;
}

/* Custom Cursor */
.cursor {
  width: 34px;
  height: 34px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  transition: 0.1s ease-out;
}

.condense {
  transform: scale(0.3);
  border-width: 17px;
}

@media screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
}

/* Basics */
p {
  font-size: 1.3em;
  line-height: 1.3;
}

/* Anchor Links */
a {
  font-size: 21px;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.link {
  font-weight: bold;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: var(--black);
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.link:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}

/* Images */
img {
  display: block;
  max-width: 100%;
}

i {
  vertical-align: middle;
}

/* Lists */
ul {
  font-size: 1.3em;
  line-height: 1.5;
}

/* Titles */
h1 {
  font-family: "Londrina Solid", sans-serif;
  font-size: calc(3rem + 7vw);
  margin: 5vh 0 0;
  line-height: 1;
  color: var(--primary);
}

h2 {
  font-family: "Londrina Solid", sans-serif;
  font-size: calc(3.5rem + 1.5vw);
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 414px) {
  h3 {
    margin: 0;
  }
}

h4 {
  font-size: calc(2rem + 1vw);
  margin: 0;
}

h5 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

/* Buttons */
.btn {
  padding: 2rem 5rem;
  position: relative;
  color: var(--background);
  width: max-content;
  display: block;
  margin: 10vh auto;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 7px;
  right: 7px;
  background-color: var(--secondary);
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 3px solid var(--black);
}

.btn:hover::before {
  transform: translate(7px, -6px);
}

/* Layout */
main {
  display: grid;
  grid-template-columns: 3vw 1fr 3vw;
}

main > div {
  grid-column: 2;
}

/* Header */
header {
  min-height: 100vh;
  /* width: 100vw; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header div:first-child {
  margin: 0 3vw;
  align-self: center;
}

.hero-main {
  min-height: 70vh;
  background-image: url(../images/1.jpg);
  background-size: cover;
}

@media screen and (max-width: 850px) {
  header {
    margin-top: 80px;
    grid-template-columns: 1fr;
  }

  .hero-main {
    margin-top: 5vh;
  }
}

.hero-reglement {
  min-height: 70vh;
  background-image: url(../images/bglamam.jpg);
  background-size: cover;
  background-position: center;
}

.hero-projet {
  min-height: 70vh;
  background-image: url(../images/4.jpg);
  background-size: cover;
  
}

.hero-contact {
  min-height: 70vh;
  background-image: url(../images/bgprojets.jpg);
  background-size: cover;
  background-position-x: center;
}

.coquelicots {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin-top: 10vh;
}

.coquelicots h3 {
  margin: 0;
  transform: rotate(-90deg);
  place-self: center;
}

@media screen and (max-width: 414px) {
  .coquelicots {
    grid-template-columns: 1fr;
  }

  .coquelicots h3 {
    transform: rotate(0);
    place-self: start;
  }
}

/* À Propos */
.about {
  position: relative;
  margin-top: 15vh;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}

.about__left div {
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
}

.about__left h3 {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  margin-top: 4rem;
  margin-left: 13rem;
}

.about__right {
  border-top: 3px solid;
  border-bottom: 3px solid;
}

.about__right > div {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 5vh;
}

@media screen and (max-width: 1024px) {
  .about {
    grid-gap: 4rem;
  }

  .about__right > div {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 850px) {
  .about {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .about__left h3 {
    transform: rotate(0);
    writing-mode: unset;
    margin-top: 2rem;
    margin-left: 0;
  }

  .about__left div {
    position: -webkit-unset;
    position: unset;
  }

  .about__right {
    margin-top: 5vh;
  }
}

.about__right img {
  grid-column: 2;
}

/* La Maison */
.maison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  margin-top: 20vh;
}

.maison div:first-child img:first-child {
  margin-bottom: 2rem;
}

.maison__description {
  max-width: 70%;
  margin: 10vh 0 5vh;
}

.maison__description h2 {
  margin-bottom: 0.5em;
}

@media screen and (max-width: 1024px) {
  .maison__description {
    max-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .maison {
    grid-template-columns: 1fr;
  }

  .maison__description {
    margin-top: 5vh;
  }
}

/* Testimonials */
.testimonials__title {
  margin: 15vh auto 0;
}

.testimonials {
  position: relative;
  min-height: 470px;
  margin: 5vh 10vw 10vh 25vw;
}

.testimonials::before {
  content: "“";
  position: absolute;
  top: 0;
  left: 3rem;
  font-family: "Londrina Sketch", sans-serif;
  font-size: 20rem;
  color: var(--primary);
  opacity: 0.7;
  z-index: -1;
}

.slide {
  max-width: 80%;
  margin: 5vh auto;
  display: none;
}

@media screen and (max-width: 1024px) {
  .testimonials {
    margin: 0 0 10vh 0;
  }
}

@media screen and (max-width: 850px) {
  .testimonials__title {
    margin-bottom: 10vh;
  }

  .testimonials::before {
    left: 0;
  }

  .slide {
    flex-wrap: wrap;
    max-width: 100%;
  }
}

.slide p {
  opacity: 0;
  animation: fade 0.6s forwards ease;
  animation-delay: 0.2s;
}

.slide h4 {
  margin-top: 2rem;
  margin-right: 3rem;
  animation: fade 0.6s forwards ease;
  line-height: 0.9;
}

.slide h5 {
  opacity: 0;
  animation: fade 0.6s forwards ease;
  animation-delay: 0.1s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  top: 30%;
}

.next {
  top: 50%;
}

@media screen and (max-width: 850px) {
  .prev {
    top: 0;
    left: 0;
  }

  .next {
    top: 0;
  }
}

.prev img,
.next img {
  position: absolute;
  transition: 0.3s;
}

.prev:hover img,
.next:hover img {
  transform: scale(1.1);
}

.prev img:last-child {
  width: 30px;
  transform: rotate(-90deg);
}

.next img:last-child {
  width: 30px;
  transform: rotate(90deg);
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: 2px solid var(--black);
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s ease;
  vertical-align: middle;
}

.active {
  background-color: var(--primary);
  height: 15px;
  width: 15px;
}

.dot:hover {
  background-color: var(--primary);
}

/* Photos */
.band {
  background-color: var(--secondary);
  color: var(--background);
  padding: 2rem;
  font-weight: bold;
  margin-top: 100px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 5vh 0 10vh;
}

@media screen and (max-width: 1328px) {
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.photos img {
  transition: 0.3s;
}

.photos img:hover {
  transform: translateY(-4px);
}

/* Règlement */
.tabs {
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 2vw;
}

.tabs__menu {
  position: -webkit-sticky;
  position: sticky;
  list-style: none;
  padding-left: 0;
  top: 1rem;
  font-weight: bold;
  height: 600px;
}

.tabs__link {
  margin: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 850px) {
  .tabs {
    grid-template-columns: 1fr;
  }

  .tabs__menu {
    position: initial;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .tabs__link {
    margin: 0.5rem 2rem;
  }
}

.tabs__link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
}

.ontab::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 30px;
  height: 2px;
  background-color: var(--black);
  transition: 0.3s;
}

.ontab.tabs__link {
  transform: translateX(40px);
}

.tab {
  margin-top: 3vh;
  animation: fade 0.6s ease;
}

.tab h5 {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
}

/* Blockquote */
.quote {
  background-color: whitesmoke;
  border-radius: 7px;
  margin-bottom: 20px;
}

.quote-header + .quote-body {
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.quote-body {
  border-color: rgba(207, 69, 50, 0.5);
  border-style: solid;
  border-width: 0 0 0 4px;
  padding: 1em 1.5em;
}

/* Projet Pédagogique */
.projets {
  margin: 10vh 0;
}

.projets h2 {
  font-family: serenity, sans-serif;
  font-size: calc(1.5rem + 1vw);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem;
}

.projet {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 5rem;
  margin-top: 2rem;
}

@media screen and (max-width: 850px) {
  .projet {
    grid-template-columns: 1fr;
  }

  .projets h2 {
    margin-bottom: 0;
  }

  .projet h4 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 414px) {
  #projet__h1 {
    font-size: calc(2.3rem + 7vw);;
  }
}

/* Contact */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 7rem;
  margin: 5vh 0 5vh 10vw;
}

@media screen and (max-width: 1024px) {
  .contact {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
}

/* Contact Form */
.form-body {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-family: serenity, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  border: 2px solid var(--black);
}

textarea {
  resize: vertical;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: serenity, sans-serif;
  font-size: 1.3rem;
}

/* Contact Infos */

.contact-infos div {
  display: flex;
  align-items: center;
}

.contact-infos i {
  font-size: 2rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .contact-infos {
    grid-row: 1/2;
    margin-bottom: 5vh;
  }
}

/* Navbar */
nav {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 220px;
  margin-left: 3vw;
  align-self: center;
  z-index: 3;
}

.logo img {
  width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  margin-right: 3vw;
}

@media screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
}

nav ul li,
.menu ul li {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.07rem;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
}

nav ul li a,
.menu ul li a {
  border-top: 0.5rem solid var(--primary);
  transition: 0.2s ease-in-out;
  padding-top: 0.5rem;
}

nav ul li a:hover,
.menu ul li a:hover {
  border-top: 0.1rem solid;
}

.onpage {
  border-top-color: var(--secondary) !important;
}

/* Hamburger */
.hamburger {
  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
  display: none;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
}

.bar1,
.bar2,
.bar3 {
  background-color: var(--black);
  width: 52px;
  height: 3px;
  margin: 3px 0;
  border-radius: 2px;
  transition: 0.3s;
}

.bar1 {
  width: 26px;
}

.bar3 {
  width: 26px;
  align-self: flex-end;
}

.change .bar1 {
  transform: rotate(45deg) translate(2px, -2px);
}

.change .bar2 {
  transform: rotate(-45deg);
}

.change .bar3 {
  transform: rotate(45deg) translate(-2px, 4px);
}

/* Responsive Menu */
.menu {
  position: fixed;
  top: -100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  height: 100%;
  width: 100vw;
  z-index: 2;
  visibility: hidden;
  transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  margin: 1rem 0;
}

.show {
  visibility: visible;
  transform: translateY(100%);
}

/* Footer */
footer {
  height: 300px;
  background-color: #d1cabf;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  position: relative;
}

footer div {
  font-family: serenity, sans-serif;
  font-weight: normal;
  grid-column: 2/3;
  align-self: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: var(--black);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

footer ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Copyright */
.copyright {
  position: absolute;
  bottom: 0;
  left: 10vw;
  font-size: 1rem;
  letter-spacing: 0;
}

.copyright a {
  font-size: 1rem;
}

/* Back To Top */
.back-top {
  position: absolute;
  bottom: 60px;
  right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(70px + 2vw);
  height: calc(70px + 2vw);
  transform: rotate(-90deg);
}

.circle,
.arrow {
  position: absolute;
  transition: 0.3s ease-out;
}

.back-top:hover .circle {
  transform: scale(1.1);
}

.back-top:hover .arrow {
  transform: rotate(-360deg);
}

.arrow {
  width: calc(20px + 1vw);
  height: calc(20px + 1vw);
}

@media screen and (max-width: 1024px) {
  footer {
    grid-template-columns: 3vw 1fr 3vw;
  }

  .copyright {
    left: 3vw;
  }

  .back-top {
    right: 5vw;
  }
}

@media screen and (max-width: 414px) {
  .back-top {
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }
}

/* Preloader */
#preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  transform: translateY(0);
  animation: preloaderAnim 4s ease forwards;
}

@keyframes preloaderAnim {
  from {
    transform: translateY(0);
  }
  85% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

#preloader img {
  animation: preloaderImg 4s ease forwards;
}

@keyframes preloaderImg {
  from {
    filter: grayscale(1);
    opacity: 0;
  }
  50% {
    filter: grayscale(1);
    opacity: 1;
  }
  75% {
    filter: grayscale(0);
    opacity: 1;
  }
  to {
    filter: grayscale(0);
    opacity: 1;
  }
}